.header-middle {
  -webkit-user-select: none!important;
  -webkit-app-region: drag!important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #9CCC65;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(168, 168, 168);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(146, 146, 146);
}

:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}