.layout {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  flex-direction: row;
}

.header-middle {
  flex: 1;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer-middle {
  flex: 1;
  text-align: center;
}

.workarea {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.workarea-canvas {
  flex: 1;
}

.workarea-nav {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.workarea-nav-middle {
  flex: 1;
}

.workarea-nav-top {
  flex: 1;
}

.workarea-nav-bottom {
  flex: 1;
}