body {
  margin: 0 0 0 0;
  font-family: Arial, Helvetica, Helvetica Neue;
}

.footer-left {
  padding: 2px;
  font-size: 12px;
}

.footer-right {
  padding: 2px;
  font-size: 12px;
}

.workarea-canvas{
  padding: 20px;
  overflow-y: scroll;
}

.workarea-nav-top, .workarea-nav-middle, .workarea-nav-bottom{
  padding: 20px;
}