body {
  margin: 0 0 0 0;
  font-family: Arial, Helvetica, Helvetica Neue;
}

.footer {
  color: white;
  background-color: #007acc;
  padding: 2px;
  font-size: 12px;
}

.workarea-canvas{
  padding: 20px;
  overflow-y: scroll;
}

.workarea-nav-middle {
  padding: 20px;
  background-color: #7CE312;
}

.workarea-nav-top {
  padding: 20px;
  background-color: #7CB342;
}

.workarea-nav-bottom {
  padding: 20px;
  background-color: #AED581;
}

.workarea-canvas {
  background-color: #9CCC65;
}